@{
    ViewBag.Title="Not Found";
}
<div class="container alert alert-danger">
    <p>@ViewBag.ErrorMessage</p>
    <a class="btn btn-lg btn-outline-success mt-4" asp-controller="Employees" asp-action="Index">Click here to navigate to the Homepage</a>
</div>